<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :all_answers %><br>
    <%= f.text_field :all_answers %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div> 
  <div>
    <h2>Answers</h2>
      <% @answers = @question.answers %>
    <ul>
      
    </ul>
  </div>
<% if false #-----\/----\/----\/---- %>
  
  <div class="field">
    <%= f.label :specific_1 %><br>
    <%= f.number_field :specific_1 %>
  </div>
  <div class="field">
    <%= f.label :specific_2 %><br>
    <%= f.number_field :specific_2 %>
  </div>-->
<% end #-----\/----\/----\/---- %>
<% end %>