<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @anime.name %>
</p>

<p>
  <strong>Mal:</strong>
  <%= @anime.mal_id %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @anime.all_tags %>
</p>

<%= link_to 'Edit', edit_anime_path(@anime) %> |
<%= link_to 'Back', animes_path %>
